{% extends 'base.html' %}
{% block content %}
{%load static %}
<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      
      <script src="https://apis.google.com/js/platform.js" async defer></script>
      <meta name="google-signin-client_id" content="256994262580-qc2iqpg72cjoh6i3qufji50m0gr6111e.apps.googleusercontent.com">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Signup</title>
        <link rel="stylesheet" type="text/css" href="{%static 'css/signc.css'%}">
    </head>
    <body>

        <div id="login-box">
            <div class="left">
              <h1>THE GREEN STOP</h1>
              <h2>Sign up</h2>
              <form action= "/signup" method ="POST">
                {% csrf_token%}

                {% if error%}
                <p class="alert alert-danger" role="alert">
                  {{error}}
                </p>
                {% endif%}

              
                <input type="text" name="username" placeholder="Username" />
                <input type="text" name="email" placeholder="E-mail" />
                <input type="password" name="password" placeholder="Password" />
                <input type="password" name="password2" placeholder="Retype password" />
                
                <input type="submit" name="signup_submit" value="Sign me up" />
              </div>
            </form>  
              <div class="right">
                <span class="loginwith">Sign in with<br />social network</span>
                
                <button class="social-signin facebook">Log in with facebook</button>
                <button class="social-signin twitter">Log in with Twitter</button>
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
                
              </div>
              <div class="or">OR</div>
            </div>

       
<script>
  function onSignIn(googleUser){
    var profile = googleUser.getBasicProfile();
    document.getElementById('profileinfo').innerHTML=profile.getName()+"<br>";
    +"<a href = 'mailto:' "+profile.getEmail() +"'>" + profile.getEmail() + "</a>" + "</br>" +
    + "<img src = '" + profile.getImageUrl() + "'/>";
    }
</script>
    </body>
</html>
{% endblock %}